<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Companies Management</h1>
    <p>In this page you can to manage the companies registered</p>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
        <b-col lg="3" width="30%">
            <b-card :title="(model.id) ? 'Edit Company ID#' + model.id : 'New Company'">
                <form @submit.prevent="saveCompany">
                    <b-form-group label="Company Name">
                        <b-form-input type="text" v-model="model.name"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Company WebSite">
                        <b-form-input type="text" v-model="model.website"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Company Logo">
                        <b-form-input type="text" v-model="model.logo"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Company Mail">
                        <b-form-input type="text" v-model="model.email"></b-form-input>
                    </b-form-group>
                    
                    <div>
                        <b-btn type="submit" variant="submit">Save Company</b-btn>

                    </div>
                </form>
            </b-card>
        </b-col>
        <b-col width="70%">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Name</th>
                        <th>Company Logo</th>
                        <th>Company Website</th>
                        <th>Company Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="company in companies" :key="company.id">
                        <td width="5%">{{company.id}}</td>
                        <td width="5%">{{company.name}}</td>
                        <td width="5%"><b-img :src="company.logo" width="80" height="30"></b-img></td>
                        <td width="5%">{{company.website}}</td>
                        <td width="5%">{{company.email}}</td>
                        <td width="5%" class="text-right">
                            <a href="#" @click.prevent="populateCompanyEdit(company)">Edit</a>
                            <a href="#" @click.prevent="deleteCompany(company.id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </b-col>
    </b-row>
  </div>
</template>
<script>
import api from '@/api'
export default {
  data () {
    return {
      loading: false,
      companies: [],
      model: {}
    }
  },
  async created () {
    this.refreshData()
  },
  methods: {
    async refreshData () {
      this.loading = true
      this.companies = await api.getCompanies()
      this.loading = false
    },
    async populateCompanyEdit (post) {
      this.model = Object.assign({}, post)
    },
    async saveCompany () {
      if (this.model.id) {
        await api.updateCompany(this.model.id, this.model)
      } else {
        await api.createCompany(this.model)
      }
      this.model = {} // reset form
      await this.refreshData()
    },
    async deleteCompany (id) {
      if (confirm('Are you sure you want to delete this post?')) {
        // if we are editing a post we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {}
        }
        let data = await api.checkCompanyDeletion(id)
        if (data.data === 'SUCCESS') {
          await api.deleteCompany(id)
        } else {
          alert(data.data)
        }
        await this.refreshData()
      }
    }
  }
}
</script>