<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Employees Management</h1>
    <p>In this page you can to manage the employees registered</p>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
        <b-col lg="3" width="30%">
            <b-card :title="(model.id) ? 'Edit Employee ID#' + model.id : 'New Employee'">
                <form @submit.prevent="saveEmployee">
                    <b-form-group label="First Name">
                        <b-form-input type="text" v-model="model.firstName"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Last Name">
                        <b-form-input type="text" v-model="model.lastName"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Company">
                        <b-form-select v-model="model.com_id" type="text">
                            <option v-for="company in companies" :key="company.id" :value="company.id">{{ company.id }} - {{company.name}}</option>
                        </b-form-select>
                    </b-form-group>
                    <b-form-group label=" Email">
                        <b-form-input type="email" v-model="model.email"></b-form-input>
                    </b-form-group>
                    <b-form-group label=" Phone Number">
                        <b-form-input type="number" v-model="model.phone"></b-form-input>
                    </b-form-group>
                    
                    <div>
                        <b-btn type="submit" variant="submit">Save</b-btn>

                    </div>
                </form>
            </b-card>
        </b-col>
        <b-col width="70%">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Company </th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="employee in employees" :key="employee.id">
                        <td width="5%">{{employee.id}}</td>
                        <td width="5%">{{employee.firstName}}</td>
                        <td width="5%">{{employee.lastName}}</td>
                        <td width="5%">{{employee.com_id}}</td>
                        <td width="5%">{{employee.email}}</td>
                        <td width="5%">{{employee.phone}}</td>
                        <td width="5%" class="text-right">
                            <a href="#" @click.prevent="populateEmployeeEdit(employee)">Edit</a>
                            <a href="#" @click.prevent="deleteEmployee(employee.id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </b-col>
    </b-row>
  </div>
</template>
<script>
import api from '@/api'
export default {
  data () {
    return {
      loading: false,
      employees: [],
      companies: [],
      model: {}
    }
  },
  async created () {
    this.refreshData()
  },
  methods: {
    async refreshData () {
      this.loading = true
      this.employees = await api.getEmployees()
      this.companies = await api.getCompanies()
      this.loading = false
    },
    async populateEmployeeEdit (employee) {
      this.model = Object.assign({}, employee)
    },
    async saveEmployee () {
      if (this.model.id) {
        await api.updateEmployee(this.model.id, this.model)
      } else {
        await api.createEmployee(this.model)
      }
      this.model = {} // reset form
      await this.refreshData()
    },
    async deleteEmployee (id) {
      if (confirm('Are you sure you want to delete this item?')) {
        // if we are editing a post we deleted, remove it from the form
        if (this.model.id === id) {
          this.model = {}
        }
        await api.deleteEmployee(id)
        await this.refreshData()
      }
    }
  }
}
</script>